.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

}
.accordion{
    background-color: #eeeeee;
    color: #330000;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #fafafa;
}

.active, p{
    text-align: justify;
}
.txt {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
